function Rat.new 0
    push constant 4
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    push argument 1
    call Random.new 2
    pop this 2
    push argument 0
    push argument 2
    call Random.new 2
    pop this 3
    push pointer 0
    call Rat.recover 1
    pop temp 0
    push pointer 0
    return
function Rat.dispose 0
    push argument 0
    pop pointer 0
    push this 2
    call Random.dispose 1
    pop temp 0
    push this 3
    call Random.dispose 1
    pop temp 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return
function Rat.recover 0
    push argument 0
    pop pointer 0
    push this 2
    call Random.next 1
    pop this 0
    push this 3
    call Random.next 1
    pop this 1
    push constant 0
    return
function Rat.getX 0
    push argument 0
    pop pointer 0
    push this 0
    return
function Rat.getY 0
    push argument 0
    pop pointer 0
    push this 1
    return