function Main.main 1
    push constant 3
    call String.new 1
    push constant 97
    call String.appendChar 2
    push constant 98
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    pop local 0
    push local 0
    call String.length 1
    call Output.printInt 1
    pop temp 0
    push local 0
    push constant 0
    call String.charAt 2
    call Output.printChar 1
    pop temp 0
    push local 0
    push constant 1
    call String.charAt 2
    call Output.printChar 1
    pop temp 0
    push local 0
    push constant 2
    call String.charAt 2
    call Output.printChar 1
    pop temp 0
    call Output.println 0
    pop temp 0
    push local 0
    call Output.printString 1
    pop temp 0
    push local 0
    push constant 0
    call String.charAt 2
    call Output.printChar 1
    pop temp 0
    push local 0
    push constant 1
    call String.charAt 2
    call Output.printChar 1
    pop temp 0
    push local 0
    push constant 2
    call String.charAt 2
    call Output.printChar 1
    pop temp 0
    push local 0
    call String.length 1
    call Output.printInt 1
    pop temp 0
    push constant 0
    return