push local 0
push local 0
push local 0
push local 0
push local 0
push local 1
push local 2
push local 3
push local 2
push local 2
push local 3
push constant 1
push local 3
push constant 2
push local 0
push local 0
push local 1
push local 1
push local 1
push constant 2
push local 0
push local 0
push local 1
