function Memory.init 0
    push constant 0
    pop static 0
    push constant 2048
    pop static 1
    push constant 0
    push static 1
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 1
    push static 1
    add
    push constant 14334
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 2
    pop static 2
    push constant 0
    return
function Memory.peek 0
    push argument 0
    push static 0
    add
    pop pointer 1
    push that 0
    return
function Memory.poke 0
    push argument 0
    push static 0
    add
    push argument 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 0
    return
function Memory.alloc 5
    push constant 0
    pop local 0
    push static 2
    pop local 1
label Memory_0
    push local 1
    push constant 0
    gt
    not
    if-goto Memory_1
    push local 1
    call Memory.getSize 1
    pop local 3
    push local 3
    push argument 0
    push constant 1
    add
    gt
    not
    if-goto Memory_3
    push local 3
    push argument 0
    push constant 2
    add
    sub
    pop local 4
    push local 4
    push constant 0
    eq
    not
    if-goto Memory_5
    push local 1
    call Memory.getNext 1
    pop local 2
    goto Memory_4
label Memory_5
    push local 1
    push argument 0
    add
    push constant 2
    add
    pop local 2
    push local 2
    push local 4
    call Memory.setSize 2
    pop temp 0
    push local 2
    push local 1
    call Memory.getNext 1
    call Memory.setNext 2
    pop temp 0
    push local 1
    push argument 0
    call Memory.setSize 2
    pop temp 0
label Memory_4
    push local 0
    push constant 0
    eq
    not
    if-goto Memory_7
    push local 2
    pop static 2
    goto Memory_6
label Memory_7
    push local 0
    push local 2
    call Memory.setNext 2
    pop temp 0
label Memory_6
    push local 1
    push constant 0
    call Memory.setNext 2
    pop temp 0
    push local 1
    push static 1
    add
    return
    goto Memory_2
label Memory_3
label Memory_2
    push local 1
    pop local 0
    push local 1
    call Memory.getNext 1
    pop local 1
    goto Memory_0
label Memory_1
    push constant 0
    return
function Memory.deAlloc 2
    push argument 0
    push static 1
    sub
    pop local 1
    push static 2
    push constant 0
    eq
    not
    if-goto Memory_9
    push local 1
    pop static 2
    push constant 0
    return
    goto Memory_8
label Memory_9
label Memory_8
    push static 2
    pop local 0
label Memory_10
    push local 0
    call Memory.getNext 1
    push constant 0
    gt
    not
    if-goto Memory_11
    push local 0
    call Memory.getNext 1
    pop local 0
    goto Memory_10
label Memory_11
    push local 0
    push local 1
    call Memory.setNext 2
    pop temp 0
    push constant 0
    return
function Memory.getNext 0
    push argument 0
    push constant 2
    sub
    push static 1
    add
    pop pointer 1
    push that 0
    return
function Memory.setNext 0
    push argument 0
    push constant 2
    sub
    push static 1
    add
    push argument 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 0
    return
function Memory.getSize 0
    push argument 0
    push constant 1
    sub
    push static 1
    add
    pop pointer 1
    push that 0
    return
function Memory.setSize 0
    push argument 0
    push constant 1
    sub
    push static 1
    add
    push argument 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 0
    return